body, h1, nav ul, nav ul li, nav ul li a {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

header {
    background-color: #658B6F; /* A pleasant blue background for the main header */
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 105px;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

nav {
    background-color: #28363D; /* A darker shade of blue for the sub header */
    overflow: hidden; /* Contains floated elements */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Side by side display */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #003366; /* Even darker shade for hover state */
    color: #fff;
}

@media (max-width: 600px) {
    nav ul li {
        display: block; /* Stacks the navigation items under each other on small screens */
        width: 100%; /* Makes each link full width */
    }
}

/*----------------------------Side bar starts here-----------------------------------*/

.sidebar {
    /*height: calc(100% - 120px); !* Adjusted height *!*/
    height: 100%; /* Adjusted height */

    width: 360px;
    position: fixed;
    z-index: 1000; /* Ensures the sidebar is on top of other elements */
    /*top: 145px; !* Starts below the header and sub header *!*/
    left: 0;
    background-color: #99AEAD;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px; /* Optional, for internal spacing */
}
.sticky-sidebar {
    top: 0; /* Stick to the top when scrolling */
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #DEE1DD;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar ul ul {
    padding-left: 20px; /* Indent sub-chapters */
    display: none; /* Hide sub-chapters initially */
}

.sidebar ul li:hover > ul {
    display: block; /* Show sub-chapters on hover */
}

.sidebar ul ul li {
    padding-top: 5px; /* Spacing for sub-chapter items */
    padding-bottom: 5px;
}

/* You might want to style sub-chapter links differently */
.sidebar ul ul a {
    font-size: 14px; /* Smaller font size for sub-chapters */
    color: #ffffff; /* Different color for differentiation */
}
.sidebar ul ul ul {
    padding-left: 20px; /* Increase indentation for sub-sub-chapters */
}

.sidebar ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* Resets default padding */
}

/* If you have specific styles for nested ul, ensure they also have no list-style-type */
.sidebar ul ul {
    list-style-type: none;
    /* ... other styles ... */

}


/*--------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------*/


/* Footer Styling */
footer {
    background-color: #28363D; /* Dark background for footer */
    color: white; /* Light color text for contrast */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Padding above and below the text */
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #F0A30A; /* Color for links, can be changed */
    text-decoration: none; /* No underline for links */
}

footer a:hover {
    text-decoration: underline; /* Underline on hover for better user experience */
}

.footer-content {
    margin: auto;
    width: 80%; /* Adjust the width as per your design requirement */
    font-size: 0.9em; /* Smaller font size for footer content */
}

/* Main content styling */
#mainContent {
    /*margin: center; */
    margin-left: 370px; /* Push main content to the right to prevent overlap with sidebar */
    margin-right: 60px; /* Adds 40 pixels of margin to the right of the content */
    padding: 1em; /* Add some padding for aesthetic spacing */
    color: #333333; /* This sets the text color to a dark gray */

    /*overflow: hidden; !* To ensure the content does not flow outside its container *!*/
}
    /*text Colors*/
#mainContent h1 {
    color: #2F575D; /* Slightly darker color for headings for contrast */
}
#mainContent h2 {
    color: #2f626b; /* Slightly darker color for headings for contrast */
}
#mainContent h3 {
    color: #3A7B84FF; /* Slightly darker color for headings for contrast */
    margin-top: 40px; /* This adds 20 pixels of space above your h3 elements */
}

#mainContent p {

    color: #575757; /* Slightly lighter color for paragraph text */
    text-align: justify;
    font-size: 18px;

}
/* Figure Caption Styling */
figcaption {
    font-style: italic; /* Makes the caption text italic */
    font-size: 14px; /* Optional: makes the caption text smaller than the surrounding text */
    color: #777b7e; /* Optional: sets the caption text color */
    margin-top: 10px; /* Optional: adds space between the image and the caption */
}



/* You can also add color styles for links if necessary */
/*#mainContent a {*/
/*    color: #1A5A99; !* Example color for links *!*/
/*}*/

/*#mainContent a:hover {*/
/*    color: #163D5C; !* Darker color for links on hover *!*/
/*}*/
    /* Other styles... */


/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .footer-content {
        width: 95%; /* Full width in smaller screens for better readability */
        padding: 10px; /* Adjust padding */
    }
}

/*Block Letter*/
.blocked-word {
    background-color: black; /* Change the background color to block out the word */
    color: black; /* Change the text color to match the background if you want the word invisible */
    padding: 0 4px; /* Optional: add some padding around the word */
}


#newsSection {
    margin-top: 20px;
    text-align: center;
}

#newsContent {
    height: 400px; /* Set a fixed height */
    overflow-y: auto; /* Add vertical scroll */
    margin: 0 auto;
    width: 80%; /* Or any width you prefer */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Optional: adds shadow for depth */
    border-radius: 5px; /* Optional: rounds the corners */
    background-color: #ffffff; /* Optional: changes the background color */
}

.news-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.news-item:last-child {
    border-bottom: none; /* Removes the border from the last item */
}

.news-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.news-item h3 {
    margin: 0;
    color: #333;
}

.news-item p {
    margin: 5px 0;
}

.news-item a {
    display: inline-block;
    margin-top: 5px;
}

.main-content img {
    display: flex; /* Images are inline by default, block will allow margin to be applied */
    align-items: center;
    margin: auto; /* Auto margin on left and right centers the block element */
    max-width: 100%; /* Optional: it ensures the image is responsive and does not overflow its container */
    height: auto; /* Maintain the aspect ratio of the image */
}
.learning-image {
    width: 48%; /* Adjust the width as necessary */
    margin-right: 2%; /* Spacing between the images */
    vertical-align: middle; /* Align images vertically if they have different heights */
    display: inline-block; /* Display images side by side */
}


/* Begin table styling Table 1.1.2 */
.table1 {
    border-collapse: collapse;
    width: 100%; /* Set the table width to occupy the full container width */
    margin: 20px auto; }/* Center the table with automatic margins */

.table1 th, .table1 td {
    border: 2px solid #000; /* Set the border color and width */
    padding: 10px;
    text-align: left; /* Align text to the left for both th and td */
}

.table1 th {
    background-color: #2F575D; /* Set the background color for th elements */
    color: #DEE1DD; /* Set the text color for th elements */
}

.table1 td {
    background-color: #EEF5DB; /* Set a lighter background color for td elements */
    color: #28363D; /* Set the text color for td elements */
}


/* End table styling */

/* Start table styling Table 1.1.3 */
.table2 {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

.table2 th, .table2 td {
    border: 2px solid #000000; /* Dark border, adjust color as needed */
    color: #DEE1DD; /* White text */
    padding: 8px;
}

.table2 th {
    background-color: #658B6F; /* Dark header background */
    color: #DEE1DD; /* White text */
}

.table2 td {
    background-color: #DEE1DD; /* Light cell background */
    color: #28363D; /* Dark text */
}



/* End table styling */

/* Chapter 1.1.4 Lists */
.list1 ul {
    list-style-type: disc; /* Default bullet style */
    padding-bottom: 40px;
    padding-left: 40px; /* Indent the list */
}

.list1 li {
    margin-bottom: 20px; /* Add space between list items */
}

.center-text {
    text-align: center;
}

.side-by-side {
    width: 50%; /* Adjust the width as necessary */
    float: left; /* Align images side by side */
}

.image-container::after {
    content: "";
    display: block;
    clear: both;
}



/*.framed {*/
/*    border: 2px solid #000; !* Adjust the size and color of the border to your preference *!*/
/*    padding: 6px; !* Optional: Adds space between the image and the border *!*/
/*    display: block;*/
/*    margin: 5px auto; !* Optional: Centers the image and adds margin around it *!*/
/*    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); !* Optional: Adds a shadow for a 3D frame effect *!*/
/*}*/
