<!-- common.html -->

<!-- ... [other parts of the file] ... -->

<!-- Define Header Fragment -->
<div th:fragment="header">
    <header>
        <h1>AI Education in Cybersecurity</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/chapter" onclick="openNav()">Chapters</a></li>
                <li><a href="#virtuallab">Virtual Lab</a></li>
                <li><a href="#resources">Resources</a></li>
            </ul>
        </nav>
    </header>
</div>

<!-- Define Sidebar Fragment -->
<div th:fragment="sidebar">
    <div id="sidebar" class="sidebar">
        <ul>
            <!--          --------------------------------------------  Chapter 1---------------------------------------------->

            <li>
                <a href="/chapter1">Module 1: Introduction to AI </a>
                <ul>
                    <li><a href="#chapter1Sub1">1.1: What is AI</a>
                    <li><a href="#chapter1Sub2">1.2: Brief History of AI</a>
                    <li><a href="#chapter1Sub3">1.3: Why is AI Important?</a>
                    <li><a href="#chapter1Sub4">1.4: Common Examples of AI?</a>
                    <li><a href="#chapter1Sub4">1.5: Why is AI Important in the Field of Cybersecurity?</a>

                </ul>
            </li>
            <!--          --------------------------------------------  Chapter 2---------------------------------------------->

            <li>
                <a href="/chapter2">Module 2: Introduction to AI in Cybersecurity</a>
                <ul>
                    <li><a href="#chapter1Sub1">2.1: Understanding AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter2Sub1Sub1">2.1.1: Fundamentals of AI and Machine Learning</a></li>
                            <li><a href="#chapter2Sub1Sub2">2.1.2: Key Concepts in Machine Learning</a></li>
                            <li><a href="#chapter2Sub1Sub1">2.1.3:  ML Approaches in Cybersecurity</a></li>
                            <li><a href="#chapter2Sub1Sub2">2.1.4: Terminology in AI for Cybersecurity</a></li>
                            <li><a href="#chapter2Sub1Sub1">2.1.5: Most Common Cyber Threats and Attacks </a></li>
                        </ul>
                    </li>

                    <li><a href="#chapter2Sub2">2.2: Applications of AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter2Sub2Sub1">2.2.1: AI in Threat Detection and Prevention</a></li>
                            <li><a href="#chapter2Sub2Sub2">2.2.2: AI in Security Operations and Incident Response</a></li>
                            <li><a href="#chapter2Sub2Sub1">2.2.3: AI in Compliance and Governance</a></li>

                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                    <li><a href="#chapter2Sub3">2.3: Benefits and Challenges of AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter2Sub3Sub1">2.3.1: Advantages of AI in Cybersecurity</a></li>
                            <li><a href="#chapter2Sub3Sub2">2.3.2: Limitations and Challenges</a></li>
                            <li><a href="#chapter2Sub3Sub1">2.3.3: Future Trends in AI for Cybersecurity</a></li>

                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 3---------------------------------------------->

            <li><a href="/chapter3">Module 3: Unsupervised Learning for Cybersecurity</a>
                <ul>
                    <li><a href="#chapter3Sub1">3.1: Introduction of Unsupervised Learning </a>
                        <ul>
                            <li><a href="#chapter3Sub1Sub1">2.1.1: Unsupervised learning and its main objectives.</a></li>
                            <li><a href="#chapter3Sub1Sub2">2.1.2: Highlighting the absence of labeled data and the focus on discovering patterns and structures within data.</a></li>
                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                    <li><a href="#chapter3Sub2">3.2:  Representative Algorithms in Unsupervised Learning</a>
                        <ul>
                            <li><a href="#chapter3Sub2Sub1">2.2.1: K-Means Clustering</a></li>
                            <li><a href="#chapter3Sub2Sub2">2.2.2: Hierarchical Clustering</a></li>
                            <li><a href="#chapter3Sub2Sub3">2.2.3: Principal Component Analysis (PCA)</a></li>
                            <li><a href="#chapter3Sub2Sub4">2.2.4: Isolation Forest</a></li>
                            <li><a href="#chapter3Sub2Sub5">2.2.5: Autoencoders</a></li>

                        </ul>
                    </li>

                    <li><a href="#chapter3Sub3">3.3 Common Use Cases for Unsupervised Learning in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter3Sub3Sub1">3.3.1: Anomaly Detection</a></li>
                            <li><a href="#chapter3Sub3Sub2">3.3.2: Malware Detection</a></li>
                            <li><a href="#chapter3Sub3Sub3">3.3.3: Traffic Analysis</a></li>
                            <li><a href="#chapter3Sub3Sub4">3.3.4: Behavioral Analysis</a></li>
                            <li><a href="#chapter3Sub3Sub5">3.3.5: Data Exfiltration Detection</a></li>
                            <li><a href="#chapter3Sub3Sub6">3.3.6: Authentication and Fraud Detection</a></li>

                        </ul>
                    </li>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 4---------------------------------------------->

            <li>
                <a href="/chapter4">Module 4: Supervised Learning for Cybersecurity</a>
                <ul>
                    <li><a href="#chapter4Sub1">4.1: Introduction of Supervised Learning </a></li>

                    <li><a href="#chapter4Sub2">4.2: Supervised Learning in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter4Sub2Sub1">4.2.1: Shallow Learning Algorithms</a></li>
                            <ul>
                                <li><a herf="Chapter4Sub2Sub1Sub1">4.2.1.1: Random Forrest</a></li>
                                <li><a herf="Chapter4Sub2Sub1Sub2">4.2.1.2: Decision Trees</a></li>
                                <li><a herf="Chapter4Sub2Sub1Sub3">4.2.1.3: Support Vector Machines (SVM)t</a></li>
                                <li><a herf="Chapter4Sub2Sub1Sub4">4.2.1.4: K-nearest neighbors (KNNs)</a></li>
                                <li><a herf="Chapter4Sub2Sub1Sub5">4.2.1.5: Naive Bayes</a></li>
                                <li><a herf="Chapter4Sub2Sub1Sub6">4.2.1.6: Logistic Regression</a></li>
                            </ul>
                            <li><a href="#chapter4Sub2Sub2">4.2.2: Deep Learning for Threat Detection</a></li>
                            <ul>
                                <li><a herf="Chapter4Sub2Sub2Sub1">4.2.2.1: LSTM (Long Short-Term Memory)</a></li>
                                <li><a herf="Chapter4Sub2Sub2Sub1">4.2.2.2: CNN (Convolutional Neural Networks)</a></li>
                                <li><a herf="Chapter4Sub2Sub2Sub1">4.2.2.3: Hybrid model of LSTM and CNNs</a></li>
                            </ul>
                        </ul>
                    </li>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 5---------------------------------------------->

<!--            //chapter 5 list goes here-->


            <!--          --------------------------------------------  Chapter 6---------------------------------------------->

            <li>
                <a href="/chapter6">Module 6: Ethical Considerations in AI for Cybersecurity</a>
                <ul>
                    <li><a href="#chapter6Sub1">6.1: Privacy and Data Protection</a>
                        <ul>
                            <li><a href="#chapter6Sub1Sub1">6.1.1 Data Encryption</a></li>
                            <li><a href="#chapter6Sub1Sub2">6.1.2 Consent Management</a></li>
                            <li><a href="#chapter6Sub1Sub1">6.1.3  Transparency</a></li>
                            <li><a href="#chapter6Sub1Sub2">6.1.4 Access Control</a></li>
                            <li><a href="#chapter6Sub1Sub1">6.1.5 Legal and Regulatory Compliance </a></li>
                        </ul>
                    </li>

                    <li><a href="#chapter6Sub2">6.2: Bias and Fairness in AI</a>
                        <ul>
                            <li><a href="#chapter5Sub2Sub1">6.2.1: Impact of Bias</a></li>
                            <li><a href="#chapter5Sub2Sub2">6.2.2: Fairness Metrics and Techniques</a></li>
                            <li><a href="#chapter5Sub2Sub1">6.2.3: Challenges in Achieving Fairness</a></li>

                        </ul>
                    </li>

                    <li><a href="#chapter6Sub3">6.3: Ethical Decision-Making in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter6Sub3Sub1">6.3.1: Explainability</a></li>
                            <li><a href="#chapter6Sub3Sub2">6.3.2: Privacy Preserving AI</a></li>
                            <li><a href="#chapter6Sub3Sub1">6.3.3: Responsible AI Deployment</a></li>

                        </ul>
                    </li>

                </ul>

            </li>


        </ul>
    </div>
</div>

<!-- ... [other parts of the file] ... -->
