<!-- common.html -->

<!-- ... [other parts of the file] ... -->

<!-- Define Header Fragment -->
<div th:fragment="header">
    <header>
        <h1>AI Education in Cybersecurity</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/chapter1" onclick="openNav()">Chapters</a></li>
                <li><a href="#virtuallab">Virtual Lab</a></li>
                <li><a href="#resources">Resources</a></li>
            </ul>
        </nav>
    </header>
</div>

<!-- Define Sidebar Fragment -->
<div th:fragment="sidebar">
    <div id="sidebar" class="sidebar">
        <ul>
            <!--          --------------------------------------------  Chapter 1---------------------------------------------->

            <li>
                <a href="/chapter1">Module 1: Introduction to Cybersecurity</a>
                <ul>
                    <li><a href="#chapter1Sub1">1.1: Understanding AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter1Sub1Sub1">1.1.1: Fundamentals of AI and Machine Learning</a></li>
                            <li><a href="#chapter1Sub1Sub2">1.1.2: Key Concepts in Machine Learning</a></li>
                            <li><a href="#chapter1Sub1Sub1">1.1.3  ML Approaches in Cybersecurity</a></li>
                            <li><a href="#chapter1Sub1Sub2">1.1.4 Terminology in AI for Cybersecurity</a></li>
                            <li><a href="#chapter1Sub1Sub1">1.1.5 Most Common Cyber Threats and Attacks </a></li>
                        </ul>
                    </li>

                    <li><a href="#chapter1Sub2">1.2: Applications of AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter1Sub2Sub1">1.2.1: AI in Threat Detection and Prevention</a></li>
                            <li><a href="#chapter1Sub2Sub2">1.2.2: AI in Security Operations and Incident Response</a></li>
                            <li><a href="#chapter1Sub2Sub1">1.2.3: AI in Compliance and Governance</a></li>

                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                    <li><a href="#chapter1Sub3">1.3: Benefits and Challenges of AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter1Sub3Sub1">1.3.1: Advantages of AI in Cybersecurity</a></li>
                            <li><a href="#chapter1Sub3Sub2">1.3.2: Limitations and Challenges</a></li>
                            <li><a href="#chapter1Sub3Sub1">1.3.3: Future Trends in AI for Cybersecurity</a></li>

                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 2---------------------------------------------->

            <li><a href="/chapter2">Module 2: Unsupervised Learning for Cybersecurity</a>
                <ul>
                    <li><a href="#chapter2Sub1">2.1. Introduction of Unsupervised Learning </a>
                        <ul>
                            <li><a href="#chapter2Sub1Sub1">2.1.1 Unsupervised learning and its main objectives.</a></li>
                            <li><a href="#chapter2Sub1Sub2">2.1.2 Highlighting the absence of labeled data and the focus on discovering patterns and structures within data.</a></li>
                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                    <li><a href="#chapter2Sub2">2.2  Representative Algorithms in Unsupervised Learning</a>
                        <ul>
                            <li><a href="#chapter2Sub2Sub1">2.2.1 K-Means Clustering</a></li>
                            <li><a href="#chapter2Sub2Sub2">2.2.2 Hierarchical Clustering</a></li>
                            <li><a href="#chapter2Sub2Sub3">2.2.3 Principal Component Analysis (PCA)</a></li>
                            <li><a href="#chapter2Sub2Sub4">2.2.4 Isolation Forest</a></li>
                            <li><a href="#chapter2Sub2Sub5">2.2.5 Autoencoders</a></li>

                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                    <li><a href="#chapter2Sub3">2.3 Common Use Cases for Unsupervised Learning in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter2Sub3Sub1">2.3.1 Anomaly Detection</a></li>
                            <li><a href="#chapter2Sub3Sub2">2.3.2 Malware Detection</a></li>
                            <li><a href="#chapter2Sub3Sub3">2.3.3 Traffic Analysis</a></li>
                            <li><a href="#chapter2Sub3Sub4">2.3.4 Behavioral Analysis</a></li>
                            <li><a href="#chapter2Sub3Sub5">2.3.5 Data Exfiltration Detection</a></li>
                            <li><a href="#chapter2Sub3Sub6">2.3.6 Authentication and Fraud Detection</a></li>

                        </ul>
                    </li>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 3---------------------------------------------->

            <li>
                <a href="/chapter1">Module 3: Supervised Learning for Cybersecurity</a>
                <ul>
                    <li><a href="#chapter3Sub1">3.1: Introduction of Supervised Learning </a></li>

                    <li><a href="#chapter3Sub2">3.2: Supervised Learning in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter3Sub2Sub1">3.2.1: Shallow Learning Algorithms</a></li>
                            <ul>
                                <li><a herf="Chapter3Sub2Sub1Sub1">3.2.1.1 Random Forrest</a></li>
                                <li><a herf="Chapter3Sub2Sub1Sub2">3.2.1.2 Decision Trees</a></li>
                                <li><a herf="Chapter3Sub2Sub1Sub3">3.2.1.3 Support Vector Machines (SVM)t</a></li>
                                <li><a herf="Chapter3Sub2Sub1Sub4">3.2.1.4 K-nearest neighbors (KNNs)</a></li>
                                <li><a herf="Chapter3Sub2Sub1Sub5">3.2.1.5 Naive Bayes</a></li>
                                <li><a herf="Chapter3Sub2Sub1Sub6">3.2.1.6 Logistic Regression</a></li>
                            </ul>
                            <li><a href="#chapter3Sub2Sub2">3.2.2: Deep Learning for Threat Detection</a></li>
                            <ul>
                                <li><a herf="Chapter3Sub2Sub2Sub1">3.2.2.1 LSTM (Long Short-Term Memory)</a></li>
                                <li><a herf="Chapter3Sub2Sub2Sub1">3.2.2.2 CNN (Convolutional Neural Networks)</a></li>
                                <li><a herf="Chapter3Sub2Sub2Sub1">3.2.2.3 Hybrid model of LSTM and CNNs</a></li>
                            </ul>
                        </ul>
                    </li>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 5---------------------------------------------->

            <li>
                <a href="/chapter5">Module 4: Generative Artificial Intelligence</a>
<!--                <ul>-->
<!--                    <li><a href="#chapter1Sub1">1.1: Understanding AI in Cybersecurity</a>-->
<!--                        <ul>-->
<!--                            <li><a href="#chapter1Sub1Sub1">1.1.1: Fundamentals of AI and Machine Learning</a></li>-->
<!--                            <li><a href="#chapter1Sub1Sub2">1.1.2: Key Concepts in Machine Learning</a></li>-->
<!--                            <li><a href="#chapter1Sub1Sub1">1.1.3  ML Approaches in Cybersecurity</a></li>-->
<!--                            <li><a href="#chapter1Sub1Sub2">1.1.4 Terminology in AI for Cybersecurity</a></li>-->
<!--                            <li><a href="#chapter1Sub1Sub1">1.1.5 Most Common Cyber Threats and Attacks </a></li>-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li><a href="#chapter1Sub2">1.2: Applications of AI in Cybersecurity</a>-->
<!--                        <ul>-->
<!--                            <li><a href="#chapter1Sub2Sub1">1.2.1: AI in Threat Detection and Prevention</a></li>-->
<!--                            <li><a href="#chapter1Sub2Sub2">1.2.2: AI in Security Operations and Incident Response</a></li>-->
<!--                            <li><a href="#chapter1Sub2Sub1">1.2.3: AI in Compliance and Governance</a></li>-->

<!--                            &lt;!&ndash; More sub-sub-chapters as needed &ndash;&gt;-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                    <li><a href="#chapter1Sub3">1.3: Benefits and Challenges of AI in Cybersecurity</a>-->
<!--                        <ul>-->
<!--                            <li><a href="#chapter1Sub3Sub1">1.3.1: Advantages of AI in Cybersecurity</a></li>-->
<!--                            <li><a href="#chapter1Sub3Sub2">1.3.2: Limitations and Challenges</a></li>-->
<!--                            <li><a href="#chapter1Sub3Sub1">1.3.3: Future Trends in AI for Cybersecurity</a></li>-->

<!--                            &lt;!&ndash; More sub-sub-chapters as needed &ndash;&gt;-->
<!--                        </ul>-->
<!--                    </li>-->

<!--                </ul>-->

            </li>

            <!--          --------------------------------------------  Chapter 6---------------------------------------------->

            <li>
                <a href="/chapter1">Module 1: Introduction to Cybersecurity</a>
                <ul>
                    <li><a href="#chapter1Sub1">1.1: Understanding AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter1Sub1Sub1">1.1.1: Fundamentals of AI and Machine Learning</a></li>
                            <li><a href="#chapter1Sub1Sub2">1.1.2: Key Concepts in Machine Learning</a></li>
                            <li><a href="#chapter1Sub1Sub1">1.1.3  ML Approaches in Cybersecurity</a></li>
                            <li><a href="#chapter1Sub1Sub2">1.1.4 Terminology in AI for Cybersecurity</a></li>
                            <li><a href="#chapter1Sub1Sub1">1.1.5 Most Common Cyber Threats and Attacks </a></li>
                        </ul>
                    </li>

                    <li><a href="#chapter1Sub2">1.2: Applications of AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter1Sub2Sub1">1.2.1: AI in Threat Detection and Prevention</a></li>
                            <li><a href="#chapter1Sub2Sub2">1.2.2: AI in Security Operations and Incident Response</a></li>
                            <li><a href="#chapter1Sub2Sub1">1.2.3: AI in Compliance and Governance</a></li>

                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                    <li><a href="#chapter1Sub3">1.3: Benefits and Challenges of AI in Cybersecurity</a>
                        <ul>
                            <li><a href="#chapter1Sub3Sub1">1.3.1: Advantages of AI in Cybersecurity</a></li>
                            <li><a href="#chapter1Sub3Sub2">1.3.2: Limitations and Challenges</a></li>
                            <li><a href="#chapter1Sub3Sub1">1.3.3: Future Trends in AI for Cybersecurity</a></li>

                            <!-- More sub-sub-chapters as needed -->
                        </ul>
                    </li>

                </ul>

            </li>


        </ul>
    </div>
</div>

<!-- ... [other parts of the file] ... -->
