<!-- common.html -->

<!-- ... [other parts of the file] ... -->

<!-- Define Header Fragment -->
<div th:fragment="header">
    <header>
        <h1>AI Education in Cybersecurity</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/chapter" onclick="openNav()">Modules</a></li>
                <li class="dropdown">
                    <a href="#virtuallab">Virtual Lab</a>
                    <ul class="dropdown-content">
                        <li><a href="/lab1">Lab 1</a></li>
                        <li><a href="/lab2">Lab 2</a></li>
                        <!-- Add more submenu items here -->
                    </ul>
                </li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
</div>

<!-- Define Sidebar Fragment -->
<div th:fragment="sidebar">
    <div id="sidebar" class="sidebar">
        <ul>
            <!--          --------------------------------------------  Chapter 1---------------------------------------------->

            <li>
                <a href="/chapter1">Module 1: Introduction to AI and Cybersecurity</a>
                <ul>
                    <li><a href="#chapter1Sub1" onclick="showModule('module1_1'); return false;">1.1: Overview of Artificial Intelligence-AI</a>
                    <li><a href="/module1quiz1"> Quiz: Module 1.1</a>
<!--                        <ul>-->
<!--                            <li><a href="chapter1#chapter1Sub1Sub1">1.1.1: What is AI?</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub1Sub2">1.1.2: Brief History of AI</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub1Sub3">1.1.3: Why is AI Important?</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub1Sub2">1.1.4: Common Examples of AI</a></li>-->
<!--                        </ul>-->
                    <li><a href="#chapter1Sub2" onclick="showModule('module1_2'); return false;">1.2: Overview of Machine Learning- ML</a>
                    <li><a href="/module1quiz2"> Quiz: Module 1.2</a>

                        <!--                        <ul>-->
<!--                            <li><a href="chapter1#chapter1Sub2Sub1">1.2.1: What is ML?</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub2Sub2">1.2.2: Fundamentals of Machine Learning</a></li>-->
<!--                        </ul>-->
                    <li><a href="#chapter1Sub3" onclick="showModule('module1_3'); return false;">1.3: Overview of AI and ML in Cybersecurity Education</a>
<!--                        <ul>-->
<!--                            <li><a href="chapter1#chapter1Sub3Sub1">1.3.1: Understanding AI in Cybersecurity</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub3Sub2">1.3.2: Key Concepts of Machine Learning in Cybersecurity</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub3Sub3">1.3.3: Common ML Approaches in Threat Detection</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub3Sub2">1.3.4: Most Common Cyber Threats and Attacks</a></li>-->
<!--                        </ul>-->

                    <li><a href="#chapter1Sub4" onclick="showModule('module1_4'); return false;">1.4: Applications of AI in Cybersecurity</a>
<!--                        <ul>-->
<!--                            <li><a href="chapter1#chapter1Sub4Sub1">1.4.1: AI in Threat Detection and Prevention</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub4Sub2">1.4.2: AI in Security Operations and Incident Response</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub4Sub3">1.4.3:AI in Compliance and Governance</a></li>-->
<!--                        </ul>-->
                    <li><a href="#chapter1Sub5" onclick="showModule('module1_5'); return false;">1.5: Benefits and Challenges of AI in Cybersecurity</a>
                    <li><a href="/module1quiz"> Quiz: Module 1</a>

                    <!--                        <ul>-->
<!--                            <li><a href="chapter1#chapter1Sub5Sub1">1.5.1: Advantages of AI in Cybersecurity</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub5Sub2">1.5.2: Limitations and Challenges</a></li>-->
<!--                            <li><a href="chapter1#chapter1Sub5Sub3">1.5.3:Future Trends in AI for Cybersecurity</a></li>-->
<!--                        </ul>-->

                </ul>
            </li>

            <!--          --------------------------------------------  Chapter 2---------------------------------------------->

            <li><a href="/chapter2">Module 2: Unsupervised Learning for Cybersecurity</a>
                <ul>
                    <li><a href="chapter2#chapter2Sub1" onclick="showModule('module2_1'); return false;">2.1: Introduction of Unsupervised Learning </a>
<!--                        <ul>-->
<!--                            <li><a href="chapter2#chapter2Sub1Sub1">2.1.1: Unsupervised learning and its main objectives.</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub1Sub2">2.1.2: Highlighting the absence of labeled data and the focus on discovering patterns and structures within data.</a></li>-->
<!--                            &lt;!&ndash; More sub-sub-chapters as needed &ndash;&gt;-->
<!--                        </ul>-->
                    </li>

                    <li><a href="chapter2#chapter2Sub2" onclick="showModule('module2_2'); return false;">2.2:  Representative Algorithms in Unsupervised Learning</a>
                    <li><a href="/klab"  > Virtual Lab: K means clusturing simulation </a>
                    <li><a href="/module2quiz2"> Quiz: Module 2.2</a>
                    <!--                        <ul>-->
<!--                            <li><a href="chapter2#chapter2Sub2Sub1">2.2.1: K-Means Clustering</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub2Sub2">2.2.2: Hierarchical Clustering</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub2Sub3">2.2.3: Principal Component Analysis (PCA)</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub2Sub4">2.2.4: Isolation Forest</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub2Sub5">2.2.5: Autoencoders</a></li>-->

<!--                        </ul>-->
                    </li>

                    <li><a href="chapter2#chapter2Sub3" onclick="showModule('module2_3'); return false;">2.3 Common Use Cases for Unsupervised Learning in Cybersecurity</a>
                    <li><a href="/module2quiz"> Quiz: Module 2</a>
                        <!--
            <ul>-->
<!--                            <li><a href="chapter2#chapter2Sub3Sub1">2.3.1: Anomaly Detection</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub3Sub2">2.3.2: Malware Detection</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub3Sub3">2.3.3: Traffic Analysis</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub3Sub4">2.3.4: Behavioral Analysis</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub3Sub5">2.3.5: Data Exfiltration Detection</a></li>-->
<!--                            <li><a href="chapter2#chapter2Sub3Sub6">2.3.6: Authentication and Fraud Detection</a></li>-->

<!--                        </ul>-->
                    </li>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 3---------------------------------------------->

            <li>
                <a href="/chapter3">Module 3: Supervised Learning for Cybersecurity</a>
                <ul>
                    <li><a href="chapter3#chapter3Sub1" onclick="showModule('module3_1'); return false;">3.1: Introduction of Supervised Learning </a></li>

                    <li><a href="chapter3#chapter3Sub2" onclick="showModule('module3_2'); return false;">3.2: How does Supervised Algorithm Work</a>
<!--                        <ul>-->
<!--                        </ul>-->
                    </li>
                    <li><a href="chapter3#chapter3Sub3" onclick="showModule('module3_3'); return false;">3.3: Supervised Vs Unsupervised Learning </a></li>
                    <li><a href="chapter3#chapter3Sub4" onclick="showModule('module3_4'); return false;">3.4: Kinds of Supervised Learning </a></li>
                    <li><a href="/spam-email"  > Virtual Lab: Email Spam Detection </a>
                    <li><a href="chapter3#chapter3Sub5" onclick="showModule('module3_5'); return false;">3.5: Supervised Learning in Neural Network Algorithms </a></li>
                    <li><a href="/draw"  > Virtual Lab: Quick Draw by Google </a>
                    <li><a href="/modulethreeofivequiz"> Quiz: Module 3.5</a>
                    <li><a href="chapter3#chapter3Sub6" onclick="showModule('module3_6'); return false;">3.6: Advantages and Limitations of Supervised Learning </a></li>
                    <li><a href="chapter3#chapter3Sub7" onclick="showModule('module3_7'); return false;">3.7: Common Use cases of Supervised Learning in Cyber security </a></li>
                    <li><a href="/face"  > Virtual Lab: Facial Recognition </a>
                    <li><a href="/module3quiz"> Quiz: Module 3</a>



                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 4---------------------------------------------->


            <li>
                <a href="/chapter4">Module 4: Generative Artificial Intelligence</a>
                <ul>
                    <li><a href="chapter4#chapter4Sub1" onclick="showModule('module4_1'); return false;">4.1: Understanding Generative AI </a></li>
                    <li><a href="chapter4#chapter4Sub2" onclick="showModule('module4_2'); return false;">4.2: Implications in Cybersecurity</a></li>
                    <li><a href="/phishing"  > Virtual Lab: Phishing Campaigns </a>
                    <li><a href="chapter4#chapter4Sub3" onclick="showModule('module4_3'); return false;">4.3: Case Studies and Examples in Generative AI and Cybersecurity</a></li>
                    <li><a href="/genQuiz"> Quiz: Module 4</a>

                </ul>

            </li>

            <!--          --------------------------------------------  Chapter 5---------------------------------------------->

            <li>
                <a href="/chapter5">Module 5: Ethical Considerations in AI for Cybersecurity</a>
                <ul>
                    <li><a href="chapter5#chapter5Sub1">5.1: Privacy and Data Protection</a>
<!--                        <ul>-->
<!--                            <li><a href="chapter5#chapter5Sub1Sub1">5.1.1 Data Encryption</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub1Sub2">5.1.2 Consent Management</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub1Sub3">5.1.3  Transparency</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub1Sub4">5.1.4 Access Control</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub1Sub5">5.1.5 Legal and Regulatory Compliance </a></li>-->
<!--                        </ul>-->
                    </li>

                    <li><a href="chapter5#chapter5Sub2">5.2: Bias and Fairness in AI</a>
<!--                        <ul>-->
<!--                            <li><a href="chapter5#chapter5Sub2Sub1">5.2.1: Impact of Bias</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub2Sub2">5.2.2: Fairness Metrics and Techniques</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub2Sub3">5.2.3: Challenges in Achieving Fairness</a></li>-->

<!--                        </ul>-->
                    </li>

                    <li><a href="chapter5#chapter5Sub3">5.3: Ethical Decision-Making in Cybersecurity</a>
<!--                        <ul>-->
<!--                            <li><a href="chapter5#chapter5Sub3Sub1">5.3.1: Explainability</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub3Sub2">5.3.2: Privacy Preserving AI</a></li>-->
<!--                            <li><a href="chapter5#chapter5Sub3Sub3">5.3.3: Responsible AI Deployment</a></li>-->

<!--                        </ul>-->
                    </li>

                </ul>

            </li>


        </ul>
    </div>
</div>

<!-- ... [other parts of the file] ... -->
