<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Education in Cybersecurity</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style2.css"/><!--ur CSS file -->
</head>
<body>
    <div th:include="common :: header"></div>




    <!-- Main content area -->
    <div id="mainContent" style="text-align:center;"> <!-- Center content -->
        <!-- Embed YouTube video -->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/inWWhr5tnEA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <div id="newsSection">
            <h2>Cybersecurity News</h2>
            <div id="newsContent">
                <!-- News items will be loaded here -->
            </div>
        </div>
    </div>


<script src="assets/js/script.js"></script>
</body>
</html>


