<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Education in Cybersecurity</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style2.css"/><!--ur CSS file -->
</head>
<body>
    <header>
        <h1>AI Education in Cybersecurity</h1>
        <nav>
            <ul>
                <li><a href="javascript:void(0);" onclick="openNav()">Chapters</a></li>
                <li><a href="#virtuallab">Virtual Lab</a></li>
                <li><a href="#resources">Resources</a></li>
            </ul>
        </nav>
    </header>

    <!-- Sidebar for chapters -->
    <div id="sidebar" class="sidebar">
        <ul>
            <li>
                <a href="#chapter1">Chapter 1: Introduction to Cybersecurity</a>
                <ul>
                    <li><a href="#chapter1Sub1">1.1: Understanding AI in Cybersecurity</a></li>
                    <li><a href="#chapter1Sub2">1.2: Applications of AI in Cybersecurity</a></li>
                    <li><a href="#chapter1Sub3">1.3: Benefits and Challenges of AI in Cybersecurity</a></li>
                    <!-- More sub-chapters as needed -->
                </ul>

            </li>

            <li><a href="#chapter2">Chapter 2</a></li>
            <!-- Add more chapters as needed -->
        </ul>
    </div>

    <!-- Main content area -->
    <div id="mainContent">
        <!-- Your page content goes here -->
    </div>


<script src="assets/js/script.js"></script>
</body>
</html>
