<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Education in Cybersecurity</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style2.css"/><!--ur CSS file -->
</head>
<body>
<div th:include="common :: header"></div>

<!-- Sidebar for chapters -->
<div th:include="common :: sidebar"></div>
<div style="margin-left: 400px">
  <iframe src="https://user.ceng.metu.edu.tr/~akifakkus/courses/ceng574/k-means/" width="80%" height="2000px">
    <!-- This text will display if the browser does not support iframes. -->
    <p>Your browser does not support iframes.</p>
  </iframe>
</div>

<center><button onclick="window.location.href ='/chapter2#chapter2Sub2Sub2'" type="button">Return to Module</button></center>




<script src="assets/js/script.js"></script>
</body>
</html>

