<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Education in Cybersecurity</title>
  <link rel="stylesheet" type="text/css" href="assets/css/style2.css"/><!--ur CSS file -->
</head>
<body>
<div th:include="common :: header"></div>

<!-- Sidebar for chapters -->
<div th:include="common :: sidebar"></div>
<div class="quiz-container" id="quiz">
  <h2>Identify the Threat Quiz</h2>
  <div id="quiz-questions"></div>
  <button id="submit-button">Submit Answers</button>
  <div id="results"></div>
  <center><button onclick="window.location.href ='/chapter4'" type="button">Next Module</button></center>

</div>


<script src="assets/js/module3quiz.js"></script>
</body>
</html>

